<div class="container mt-4">
  <h5 class="mb-4">
    This example fetches a list of Pokémons and their details, then displays
    their names and images.
  </h5>
  @if(loading()) {
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  }

  <div *ngIf="!selectedPokemon() && !error()">
    <div class="row">
      @for (pokemon of pokemons().results; track pokemon; let index = $index) {
      <div class="col-md-4">
        <div
          class="card cursor-pointer mb-4 shadow-sm"
          (click)="selectPokemon(pokemon)"
        >
          <img
            [src]="pokemon.image"
            class="card-img-top"
            alt="{{ pokemon.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="col-md-4" *ngIf="selectedPokemon()">
    <button class="btn btn-primary mb-4" (click)="clearSelection()">
      Back to List
    </button>
    <div class="card mb-4 shadow-sm">
      <img
        [src]="selectedPokemon().image"
        class="card-img-top"
        alt="{{ selectedPokemon().name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ selectedPokemon().name }}</h5>
      </div>
    </div>
  </div>

  <div *ngIf="pokemons()?.error || error()">
    <div class="alert alert-danger" role="alert">
      {{ pokemons()?.error || error }}
    </div>
  </div>
</div>
