<div class="container mt-4">
  <h5 class="mb-4">
    This example fetches a list of Pokémons and their details, then displays
    their names and images.
  </h5>
  <div *ngIf="pokemonService.pokemons().isLoading">Loading...</div>
  <div *ngIf="pokemonService.pokemons().error">
    <div class="alert alert-danger" role="alert">
      {{ pokemonService.pokemons()?.error || error }}
    </div>
  </div>
  <div *ngIf="pokemonService.pokemons().results.length > 0">
    <div class="row">
      @for (pokemon of pokemonService.pokemons().results; track pokemon; let
      index = $index) {
      <div class="col-md-4">
        <div
          class="card cursor-pointer mb-4 shadow-sm"
          (click)="getPokemonDetails(pokemon)"
        >
          <img
            [src]="pokemon.image"
            class="card-img-top"
            alt="{{ pokemon.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <div *ngIf="pokemonService.pokemonDetail().isLoading">Loading...</div>
  <div *ngIf="pokemonService.pokemonDetail().error">
    <div class="alert alert-danger" role="alert">
      {{ pokemonService.pokemonDetail()?.error || error }}
    </div>
  </div>
  <div *ngIf="pokemonService.pokemonDetail().results" class="col-md-4">
    <button class="btn btn-primary mb-4" (click)="goBackToPokemonsList()">
      Back to List
    </button>
    <div class="card mb-4 shadow-sm">
      <img
        [src]="pokemonService.pokemonDetail().results.image"
        class="card-img-top"
        alt="{{ pokemonService.pokemonDetail().results.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ pokemonService.pokemonDetail().results.name }}
        </h5>
      </div>
    </div>
  </div>
</div>
