::ng-deep .date-picker-dot {
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 5px;
      height: 5px;
      background-color: #4facfe;
      border-radius: 50%;
    }
  }
  
  ::ng-deep .strikethrough-diagonal {
    position: relative;
    
    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 45%;
      right: 0;
      border-top: 1px solid;
      border-color: inherit;
      -webkit-transform: skewY(-40deg);
      -moz-transform: skewY(-40deg);
      transform: skewY(-40deg);
    }
  }
    
  
  