.tk-date-picker-input::placeholder { 
    color: var(--tk-color-primary-black);
    font-family: font-family('csePRoman');
    font-size: 16px;
}

  .calendar {
    background-color: #ffffff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }

  .icon-left-years {
      right: 0.9rem;
  }

  .icon-right-years {
      left: 0.9rem;
  }
  
  .month {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-align: center;
    color:var(--tk-color-primary-black);
  }
  
  .month i {
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 16px;
    margin-bottom: 0;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
  }
  
  .weekdays div {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A8A8A7;
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 7px;
  }
  
  .days div {
    font-size: 14px;
    width: 41px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    //TODO check if has to be removed base on design guideline an CR
  //   @media screen and  (max-width: 769px){ 
  //     width: 37px;
  //  }
  }
  
  .days div  {
    color: #000000;
  }
  
  .days div.outline-next-day {
    color: #A8A8A7;
  }
  
  .days div:hover:not(.bg-gray-2) {
    background-color: black;
    cursor: pointer;
    color: white;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }

  .square-picker {
    position: absolute;
    height: 3px;
    width: 3px; 
    top: 1.8rem;

  }

  .tk-picker-disabled {
    pointer-events:none;
    color:var(--tk-color-primary-gray3);
  } 

  .date-picker-wrapper {
    width: 322px!important;
    
    .is-toggle {
      transform: rotate(-180deg);
    }
    .tk-btn {
      height: 32px;
      color: var(--tk-color-primary-gray5)!important;
    }
    .tk-btn:hover {
       background-color:var(--tk-color-primary-black);
       color: var(--tk-color-primary-white)!important;
    }
    .tk-btn-black {
        background-color:var(--tk-color-primary-black);
        color: var(--tk-color-primary-white)!important;
     }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .tk-dropdown {
    width: 100%;
    position:relative;
    .tk-dropdown-content {
        overflow-x: hidden;
        position: absolute;
        width: 100%;
        margin-left: 0;
        margin-right: 8px;
        z-index: z-index('dropdown');
        background-color: var(--tk-color-primary-white);

        &::-webkit-scrollbar-track {
            background-color: var(--tk-color-custom-dropdown-background);
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: var(--tk-color-custom-dropdown-background);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--tk-color-primary-black);
        }
    }

    .card {
        border-radius: 0rem;
    }
}

.dropdown {
    .dropdown-menu {
        border-radius: 0rem;
    }
    .card {
        border-radius: 0rem;
    }
}

.dropdown-align-right {
    left: auto !important;
    right: 0 !important;
}

// Input form control basic style
.tk-form-control {
  @extend .form-control;
  position: relative;
  padding: 0;
  padding-bottom: 16px;
  padding-right:32px;
  border: 0;
  border-bottom: 1px solid var(--tk-color-primary-black);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -khtml-border-radius: 0;
  color: var(--tk-color-primary-black);
  background-color: var(--tk-color-primary-white);
  font-family: 'CSePRoman', sans-serif;
  font-size: 16px;
  height: 40px;
  line-height: 24px;
  display: inline-block;
  
  &:focus {
    color: var(--tk-color-primary-black);
    border: 0;
    border-bottom: 2px solid var(--tk-color-primary-black);
    padding-bottom: 15px;
    box-shadow: none;
    outline: none;
  }
  
  &[disabled] {
    color: var(--tk-color-primary-gray4);
    background-color: var(--tk-color-primary-white);
    border-width: 1px;
    border-color: var(--tk-color-primary-gray4);
    cursor: default;
  }
  
  &[disabled]::placeholder {
    color: var(--tk-color-primary-gray4);
  }
  
  &[readonly] {
    background-color: var(--tk-color-primary-white);
  }
  
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--tk-color-primary-gray5);
  }

  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: var(--tk-color-primary-gray5);
    opacity:  1;
  }

  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--tk-color-primary-gray5);
    opacity:  1;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--tk-color-primary-gray5);
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--tk-color-primary-gray5);
  }
  
  &::placeholder { /* Most modern browsers support this now. */
    color: var(--tk-color-primary-gray5);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

  /* Firefox */
  &input[type=number] {
  -moz-appearance: textfield;
  }
  
}

// Input with error
.tk-form-control-error {
  padding-bottom: 15px;
  border-width: 2px;
  border-color: var(--tk-color-support-red);
}

.tk-form-control-error-message {
  margin-top: 8px;
  color: var(--tk-color-support-red);
  font-family: 'CSePBold', sans-serif;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}

// Input with icons
.tk-form-control-icon {
  position: relative;
  
  // Left icon
  .tk-form-control-left-icon {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 24px;
    width: 24px;
    font-size: 24px; // In case user uses font awesome icon
    top: 0;
  }
  // Specific case for left icon where we need to add a padding-left to .tk-form-control
  // Note: dom elements order is important => tk-form-control-left-icon then tk-form-control
  .tk-form-control-left-icon + .tk-form-control {
    padding-left: 32px;
  }
  
  // Right icon
  .tk-form-control-right-icon {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 24px;
    width: 24px;
    font-size: 24px; // In case user uses font awesome icon
    top: 0;
    right: 0;
  }
  
  
}

.form-group input.tk-form-control:focus {
  // Needed to override CS style
  margin: 0px;
}

.ismobileAlerts .custom-search-input .form-control{
  padding-right:28px;
}
