<div [formGroup]="form" class="form-group">
  <label for="address">Address</label>
  <input
    type="text"
    formControlName="address"
    id="address"
    class="form-control"
  />
  <div *ngIf="form.get('address')?.invalid && form.get('address')?.touched">
    <small *ngIf="form.get('address').errors.required"
      >Address is required</small
    >
  </div>

  <label for="state">State</label>
  <input type="text" formControlName="state" id="state" class="form-control" />
  <div *ngIf="form.get('state')?.invalid && form.get('state')?.touched">
    <small *ngIf="form.get('state').errors.required">State is required</small>
  </div>
</div>
