html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cursor-pointer {
    cursor: pointer;
  }

  :root { // :root allow developer to access this variable everywhere in application without importing this stylesheet
    // primary
    --tk-color-primary-black: #000000;
    --tk-color-primary-gray6: #575756;
    --tk-color-primary-gray5: #7C7C7B;
    --tk-color-primary-gray4: #A8A8A7;
    --tk-color-primary-gray3: #DADADA;
    --tk-color-primary-gray2: #E6E7E8;
    --tk-color-primary-gray1: #F1F2F2;
    --tk-color-primary-white: #FFFFFF;

    // secondary
    --tk-color-secondary-green-light: #D5E9C1;
    --tk-color-secondary-green-bright: #78C043;
    --tk-color-secondary-green-mid: #1F7C34;
    --tk-color-secondary-green-dark: #00562A;
    --tk-color-secondary-magenta-bright: #DA0C6F;
    --tk-color-secondary-magenta-light: #F9C0CC;
    --tk-color-secondary-magenta-dark: #7A004C;
    --tk-color-secondary-magenta-mid: #B4006E;
    --tk-color-secondary-purple-light: #D1C4E0;
    --tk-color-secondary-purple-bright: #865BBC;
    --tk-color-secondary-purple-mid: #633F9A;
    --tk-color-secondary-purple-dark: #4C227C;
    --tk-color-secondary-turquoise-light: #BFE5E2;
    --tk-color-secondary-turquoise-bright: #00B2AC;
    --tk-color-secondary-turquoise-mid: #007D84;
    --tk-color-secondary-turquoise-dark: #005B66;
    --tk-color-secondary-blue-light: #ADC8E9;
    --tk-color-secondary-blue-bright: #0072CE;
    --tk-color-secondary-blue-mid: #004C97;
    --tk-color-secondary-blue-dark: #003868;

    // support
    --tk-color-support-green: #008000;
    --tk-color-support-amber: #FFB81C;
    --tk-color-support-red: #D91E19;

    // custom, not defined in Design System but already used in application
    --tk-color-custom-table-border: #999999;
    --tk-color-custom-dropdown-background: #f5f5f5;

    --tk-color-bullet-separator: #999999;
}

.hover-gray-5:hover {
  color: var(--tk-color-primary-gray5)!important;
  transition: background-color 0.25s ease-out;
  cursor: pointer;
}

.bg-gray-2 {
  background-color: var(--tk-color-primary-gray2);
}

