<div class="bg-light p-3">
  <h2>Component Playground</h2>
  <div class="component-example">
    <plg-title>
      <a class="text-white" href="/?path=/docs/components-accordion--docs"
        >Accordion Component</a
      >
    </plg-title>
    <app-card [classNames]="'shadow-lg'">
      <app-accordion [items]="items"></app-accordion>
    </app-card>

    <plg-title>
      <a class="text-white" href="/?path=/docs/components-alert--docs"
        >Alert Component</a
      >
    </plg-title>
    <app-card [classNames]="'shadow-lg'">
      <app-alert [title]="'hello world'"> </app-alert>
      <app-alert [title]="'hello danger'" [type]="'danger'"> </app-alert>
    </app-card>

    <plg-title>
      <a class="text-white" href="/?path=/docs/components-alert--docs"
        >checkbox</a
      >
    </plg-title>
    <app-card [classNames]="'shadow-lg'">
      <app-checkbox
        [checked]="checkboxState"
        (checkedChange)="onCheckboxChange($event)"
      ></app-checkbox>
      <p>Checkbox State: {{ checkboxState }}</p>
    </app-card>

    <plg-title>
      <a class="text-white" href="/?path=/docs/components-histogram--countries"
        >Histogram Component</a
      >
    </plg-title>
    <app-card [classNames]="'shadow-lg'">
      <app-histogram [single]="histogramData"></app-histogram>
    </app-card>

    <plg-title>
      <a class="text-white" href="/?path=/docs/components-toggler--docs"
        >Toggler Component</a
      >
    </plg-title>
    <app-card [classNames]="'shadow-lg'">
      <app-toggle
        [isChecked]="toggleState"
        (toggleChange)="onToggleChange($event)"
      ></app-toggle>
      <p>Toggle State: {{ toggleState }}</p>
    </app-card>

    <plg-title>
      <a class="text-white" href="/?path=/docs/components-progressbar--docs"
        >Progress Bar Component</a
      >
    </plg-title>
    <app-card [classNames]="'shadow-lg'">
      <app-progress-bar [progress]="progress"></app-progress-bar>
      <p>Progress: {{ progress }}%</p>
      <button class="btn btn-primary" (click)="progress = 90">go to 90%</button>
    </app-card>

    <plg-title> simple tables </plg-title>
    <app-card [classNames]="'shadow-lg'">
      <app-simple-table [tableData]="simpletableData"> </app-simple-table>
    </app-card>

    <plg-title>Dynamic Class Directive</plg-title>
    <app-card [classNames]="'shadow-lg'">
      <p>
        This directive is used to add classes to the input element based on the
        object passed to it.
      </p>
      <div>
        <input type="text" [appDynamicClass]="'form-control'" />
      </div>
      <div>
        <input type="text" [appDynamicClass]="'form-control is-invalid mt-2'" />
      </div>
    </app-card>

    <!-- <plg-title>Date Picker</plg-title>
    <app-card [classNames]="'shadow-lg'">
      <app-date-picker label="Date test"></app-date-picker>
    </app-card> -->

    <plg-title>Reusable Reactive Form</plg-title>
    <app-card [classNames]="'shadow-lg'">
      <p>
        The `FormComponent` is a reusable component that includes a sub-form for
        addresses (`app-address-form`), which is also reusable. It allows for
        dynamically creating form fields via configurable sub-components
        (`app-form-field`). The form is reactive and can be submitted via the
        `submit` method.
      </p>
      <app-form (formSubmit)="onFormSubmit($event)"></app-form>
    </app-card>

    <plg-title>Custom date picker</plg-title>
    <app-card [classNames]="'shadow-lg'">
      <hr />
      <h3>Date range picker</h3>
      <div>
        <h4>Available parameters</h4>
        <table class="table table-striped">
          <caption>
            Datepicker parameter inputs
          </caption>
          <thead>
            <tr>
              <th scope="col">Input name</th>
              <th scope="col">Description</th>
              <th scope="col">Available options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>dateOptions</td>
              <td>
                Input JSON object containing the options related to the date
                picker
              </td>
              <td>
                <ul>
                  <li>dateFormat:string (default 'dd/MM/yyyy')</li>
                  <li>selectedEndDate:Date (default undefined)</li>
                  <li>selectedStartDate:Date (default undefined)</li>
                  <li>disabledWeekends:boolean (default true)</li>
                  <li>disableRangePciker:boolean (default false)</li>
                  <li>isStepperYearShown:boolean (default true)</li>
                  <li>offsetYearsMenu:integer (default 5)</li>
                  <li>
                    isSelectionDayAfterCurrentDayEnable:boolean (default false)
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex">
        <div class="ml-5">
          <cs-date-picker
            #datePickerTwo
            (dateObject)="dateObject($event, 0)"
            [dateOptions]="dateOptions[0]"
            [offsetYearsMenu]="20"
          >
            <div class="date-picker-wrapper">
              <div class="d-flex">
                <button
                  class="tk-btn tk-btn-sm col-3 font-family-csePBold p-0"
                  style="font-size: 14px"
                  [ngClass]="
                    datePickerTwo.tabBtnActive === 0
                      ? 'tk-btn-black'
                      : 'tk-btn-secondary'
                  "
                  (click)="datePickerTwo.setSelectionDate(0, 0)"
                >
                  Today
                </button>
                <button
                  class="tk-btn tk-btn-secondary tk-btn-sm col-5 font-family-csePBold p-0 ml-2"
                  style="font-size: 14px"
                  (click)="datePickerTwo.setSelectionDate(14, 1)"
                  [ngClass]="
                    datePickerTwo.tabBtnActive === 1
                      ? 'tk-btn-black'
                      : 'tk-btn-secondary'
                  "
                >
                  Last 2 weeks
                </button>
              </div>
              <div class="d-flex mt-2">
                <button
                  class="tk-btn tk-btn-secondary tk-btn-sm col-5 font-family-csePBold p-0"
                  style="font-size: 14px"
                  (click)="datePickerTwo.setSelectionDate(30, 2)"
                  [ngClass]="
                    datePickerTwo.tabBtnActive === 2
                      ? 'tk-btn-black'
                      : 'tk-btn-secondary'
                  "
                >
                  Last month
                </button>
                <button
                  class="tk-btn tk-btn-secondary tk-btn-sm col-5 font-family-csePBold p-0 ml-2"
                  style="font-size: 14px"
                  (click)="datePickerTwo.setSelectionDate(365, 3)"
                  [ngClass]="
                    datePickerTwo.tabBtnActive === 3
                      ? 'tk-btn-black'
                      : 'tk-btn-secondary'
                  "
                >
                  Last year
                </button>
              </div>
            </div>
          </cs-date-picker>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex ml-4" *ngIf="date[0]">
            <div>Picker one</div>
            <div>startDate</div>
            <div>: {{ date[0].startDate }}</div>
          </div>

          <div class="d-flex ml-4" *ngIf="date[0]">
            <div>todate</div>
            <div>: {{ date[0].todate }}</div>
          </div>
        </div>
      </div>
    </app-card>

    <plg-title>ng2 date picker</plg-title>
    <app-card [classNames]="'shadow-lg'">
      <app-ng2-date-picker
        [(selectedDate)]="selectedDate"
        [extraDisabledDates]="extraDisabledDates"
        (selectedDateChange)="onSelectedDateChange($event)"
      >
      </app-ng2-date-picker>
      <p>Date sélectionnée : {{ selectedDate | date : "dd/MM/yyyy" }}</p>
    </app-card>

    <plg-title>Get request</plg-title>
    <app-card [classNames]="'shadow-lg'">
      <p>usage of ajax from rxjs/ajax to get data from api</p>
      <app-fetch-data></app-fetch-data>
    </app-card>
  </div>
</div>
